[Unit]
Description=Tor instance for torification (auto-torified sites)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=__TOR_BIN__ -f %h/.config/torification/torrc
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
